<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <!-- Compiled and minified CSS -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

     <!-- Compiled and minified JavaScript -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
    <script src="./assets/js/main.js"></script>

    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet" />
<div class="container">
  <div class="heading">
    <h1 class="heading__text">Quiz</h1>
  </div>

  <!-- Quiz section -->
  <div class="quiz">
    <div class="quiz__heading">
      <h2 class="quiz__heading-text">
        Your are <span class="result"></span> right.
      </h2>
    </div>

    <div class="quiz-form" >
      <div id="quiz-container">
      </div>
      <button class="submit" onclick="submitQuiz(event)">Submit</button>
    </div>
  </div>
</div>



<!-- Result Modal -->

  <!-- Modal Structure -->
  <div id="resultModal" class="modal">
    <div class="modal-content">
      <h4>Test Result</h4>
      <div id="results-container">
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat" onclick="restart()">Done</a>
    </div>
  </div>

  <script>

    getQuestions();
  </script>
</body>
</html>